*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.slam-dunk{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('/imgs/slamdunkcapa_clipdrop-enhance.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.players {
    background-color: rgba(201, 236, 236, 0.356);
    width: 100vw;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    
}

.shohoku-players{
    display: flex;
    border: 1px solid green;
}

.shohoku-players img{
    cursor: pointer;
    border: 5px solid #fff;
    min-width: 200px;
    max-height: 200px;
    padding: 5px;
    border-radius: 50%;
       
}

.description{
    width: 350px;
    height: 350px;
    background-color: aqua;
    position: absolute;
    bottom: 42%;
}