@font-face {
    font-family: varsity ;
    src: url('./fonts/varsity_regular.ttf');
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.slam-dunk{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('/imgs/slamdunkcapa_clipdrop-enhance.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.players {
    background-color: rgba(201, 236, 236, 0.356);
    width: 100vw;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    
}

.shohoku-players{
    display: flex;
    
}

.shohoku-players img{
    cursor: pointer;
    border: 5px solid #fff;
    min-width: 200px;
    max-height: 200px;
    padding: 5px;
    border-radius: 50%;
       
}

.description{
    min-width: 350px;
    min-height: 370px;
    background-color: rgba(201, 236, 236, 0.356);
    font-family: varsity;
    position: absolute;
    bottom: 38%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
   
}

.description-show{
    min-width: 350px;
    min-height: 370px;
    background-color: rgba(201, 236, 236, 0.356);
    font-family: varsity;
    position: absolute;
    bottom: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid #fff;
    margin-top: 50px;
}

.description-rukawa{
    min-width: 350px;
    min-height: 370px;
    background-color: rgba(201, 236, 236, 0.356);
    font-family: varsity;
    position: absolute;
    bottom: 38%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid rgb(247, 8, 8);
}

.description-akagi{
    min-width: 350px;
    min-height: 370px;
    background-color: rgba(201, 236, 236, 0.356);
    font-family: varsity;
    position: absolute;
    bottom: 38%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid rgb(255, 255, 255);
}

.description-ryota{
    min-width: 350px;
    min-height: 370px;
    background-color: rgba(201, 236, 236, 0.356);
    font-family: varsity;
    position: absolute;
    bottom: 38%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid rgb(247, 8, 8);
}

.description-mitsui{
    min-width: 350px;
    min-height: 370px;
    background-color: rgba(201, 236, 236, 0.356);
    font-family: varsity;
    position: absolute;
    bottom: 38%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid rgb(247, 8, 8);
}


.description img {
   width: 200px;
   height: 320px;
   border-radius: 5px;
}

.description-rukawa img{
   width: 200px;
   height: 320px;
   border-radius: 5px;
}

.description-akagi img{
    width: 200px;
    height: 320px;
    border-radius: 5px;
 }

 .description-ryota img{
    width: 200px;
    height: 320px;
    border-radius: 5px;
 }

 .description-mitsui img{
    width: 200px;
    height: 320px;
    border-radius: 5px;
 }


.description-show img {
    width: 200px;
    height: 320px;
    border-radius: 5px;
 }